/*
 * Define commonly used colors
 */
:root {
    --header-background-color: #4f4d4b;
    --header-text-color: #556366;
    --header-nav-color: #b9C6ae;
    --black: #000;
    --banner-pinkish-purple: rgb(177, 179, 239);
}

/*
 * Set preferred fonts.
 */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*
 * Set header style
 */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background: var(--header-background-color);
    color: var(--header-text-color);
}

/*
 * Set h1 heading style for h1 elements in the header
 */
header h1 {
    margin: 0;
    padding-left: 6%;
    padding-right: 2%;
    height: 60%;
    text-align:right;
    font-size:  35px;
    background: var(--header-nav-color)
}

/*
 * Set navigation bar unordered list style
 */
nav ul {
    display: flex;
    padding-right: 100px;
    justify-content:center;
    min-width: 300px;
    list-style: none;
}
  
/*
 * Set navigation bar anchor style
 */
nav a {
    margin-right: 20px;
    color: var(--header-nav-color);
    font-weight: bold;
    font-size: 130%;
    text-decoration: none;
    padding-bottom: 1%;
    border-bottom: 3px var(--header-nav-color) solid;
}

/*
 * Set article style used for the banner
 */
article {
    display: flex;
    flex-direction: row-reverse;
    height: 20vh;
    background-image: url("../images/colorful-seashells-pattern.jpg");
}

/*
 * Style h2 elements in the banner (article)
 */
article h2 {
    font-size: 200%;
    margin-right: 5%;
    margin-bottom: 2%;
    height:min-content;
    align-self: flex-end;
    background: var(--banner-pinkish-purple);
    border: 10px var(--black) solid;
}

section {
    margin: 0;
    min-height: 70vh;
    background-color: lightgray;
}

.flex-container-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-height: 10%;
    margin-bottom: 0;
}

.flex-container-2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-height: fit-content;
}

.flex-item-1 {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    min-width: 20%;
    margin: 20px;
    border-right: 5px var(--header-background-color) solid;
}

.flex-item-1 p {
    width: 80%;
    text-align: right;
    font-size: 300%;
    font-weight: bold;
    color: var(--header-text-color);
}

.flex-item-2 {
    display: flex;
    justify-content: center;
    align-content: center;
    min-width: 60%;
    max-width: 60%;
    margin: 20px;
}

.flex-item-2 p {
    width: 100%;
    text-align:justify;
    border: 1px #000 solid;
}

.flex-item-2 ul {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding: 0;
    list-style: none;
}
  
.flex-item-2 a {
    margin-right: 20px;
    color: var(--black);
    font-weight: bold;
    font-size: 130%;
    text-decoration: none;
}
